* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    /* font-weight: 400; */
    /* font-style: normal; */
}

/* navigation */
nav {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #252a3a;
    color: #f9faf8;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    color: #e5e7e8;
    font-size: 18px;
    
}

nav ul a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

ul .logo {
    margin-left: 0;
    margin-right: auto;
    font-size: 30px;
    font-weight: 1000;
}

.readable {
    width: 75vw;
}
.readable-two {
    display: flex;
    justify-content: center;
    background-color: #252a3a;

}
.readable-three {
    display: flex;
    justify-content: center;

}
.readable-four {
    display: flex;
    justify-content: center;
    background-color: #e4e5ea;
}
/* .readable-five {
    display: flex;
    justify-content: center;
    background-color: white;
} */
/* section one */

.section-one {
    display: flex;
    width: 75vw;
    height: 60vh;
    /* border: 1px solid black; */
    background-color: #252a3a;
}

.section-one h1, .section-one p {
    color: #f9fafb;
}
.section-one h1 {
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
}
.section-one p {
    font-size: 24px;
}
.section-one div {
    flex: 1;
}

.subsection-one {
    display: flex;
    align-items: center;
}

.subsection-one h1, .subsection-one p, .subsection-one button {
    margin: 15px;
    /* line-height: 28px; */
}

.subsection-one button {
    background-color: #5a40f4;
    color: #f9fafb;
    border: none;
    padding: 10px 55px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bolder;
}

.subsection-two {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.subsection-two div {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #6d727c;
    color: #e9eaeb;
}

/* section two */

.section-two {
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 60vh;
    background-color: white;
    
}

.section-two .info {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    padding: 40px;
}

.section-two .below-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    gap: 0rem;
}

.illustration-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box {
    height: 200px;
    width: 200px;
    border: 5px solid #5a40f4;
    border-radius: 20px;
}

.text-box {
    margin: 0px 40px;
    padding: 20px;
    font-size: 24px;
    color: #3e3e3f;
}


/* section three */
.section-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75vw;
    height: 60vh;
    /* font-style: italic; */
}

.section-three .quote {
    font-size: 26px;
    font-style: italic;
    /* font-weight: 100; */
    color: #292f3e;
    margin: 0px 200px;
}

.section-three .said-by {
    display: flex;
    margin-left: auto;
    margin-right: 200px;
    margin-top: 30px;
    font-weight: bolder;
    /* justify-content: flex-end; */
}

/* section four */

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

/* cta text and button alignment */
.section-four .readable-five {
    display: flex;
    background-color: #5a40f4;
    /* border: 2px solid red; */
    
}

.readable-five {
    width: 65vw;
    height: 18vh;
    border-radius: 10px;
    color: white;
}

.readable-five div {
    flex-grow: 1;
}
.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-left: 50px; */

}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.button button {
    border: 2px solid white;
    background-color: transparent;
    font-size: 25px;
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
}

/* cta header and para alignment */
/* .section-four div div {
    display: flex;
    flex-direction: column;
} */
.section-four h3 {
    font-size: 45px;
    color: #e4e5ea;
}

/* footer layout */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252a3a;
    height: 15vh;
    font-size: 30px;
    color: white;
}
