* {
    /* margin: 0;
    padding: 0; */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* navigation */
nav {
    border: 1px solid black;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    flex-direction: row;
    justify-content: flex-end;
}

ul .logo {
    margin-left: 0;
    margin-right: auto;
}

/* section one */

.section-one {
    display: flex;
    border: 1px solid black;
}

.section-one div {
    flex: 1;
}

.subsection-two {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.subsection-two div {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* section two */

.section-two {
    display: flex;
    flex-direction: column;
}

.section-two .below-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.box {
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

/* section three */
.section-three {
    display: flex;
    flex-direction: column;
}

.section-three .said-by {
    display: flex;
    justify-content: flex-end;
}